<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters of Starwars</title>
</head>

<body>
    <h1>Starwars Characters</h1>
    <% character.results.forEach(result=>{ %>
        <ul>Name:
            <%= result.name %>
        </ul>
        <ul>Mass:
            <%= result.mass %>
        </ul>
        <ul>Gender:
            <%= result.gender %>
        </ul>
        <% }) %>
</body>