<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, aspernatur harum aliquam laborum quas accusantium reprehenderit fugiat praesentium iste suscipit ab ea voluptatibus officiis? Officia consequuntur natus consequatur alias placeat?
        Maxime hic sequi ea dolor laudantium perferendis, sunt temporibus modi corrupti ut rem voluptate asperiores praesentium quo sint fuga qui tenetur deleniti sed a dolorum necessitatibus aspernatur. Quos, fugit cupiditate. Modi veritatis similique
        numquam magnam sit rem esse repudiandae obcaecati sequi minima atque labore iure ratione, fugiat impedit nemo eum! Quibusdam autem inventore magnam beatae repellat sequi laboriosam veniam dolore.</p>
</body>